In [8]:
# Cellule de diagnostic et installation des packages
# Ex√©cutez cette cellule en premier si vous avez des erreurs d'import

import sys
print("üìç Python utilis√©:", sys.executable)
print("üìç Version Python:", sys.version)

# Installation des packages si n√©cessaire
try:
    import pandas as pd
    print("‚úÖ Pandas est d√©j√† install√©, version:", pd.__version__)
except ImportError:
    print("‚ùå Pandas n'est pas trouv√©. Installation en cours...")
    import subprocess
    subprocess.check_call([sys.executable, "-m", "pip", "install", "pandas", "matplotlib", "numpy", "scipy", "statsmodels", "seaborn"])
    print("‚úÖ Installation termin√©e. Veuillez red√©marrer le kernel et r√©ex√©cuter cette cellule.")
    import pandas as pd
    print("‚úÖ Pandas install√© avec succ√®s, version:", pd.__version__)

üìç Python utilis√©: c:\Users\Pimi\AppData\Local\Programs\Python\Python314\python.exe
üìç Version Python: 3.14.0 (tags/v3.14.0:ebf955d, Oct  7 2025, 10:15:03) [MSC v.1944 64 bit (AMD64)]
‚ùå Pandas n'est pas trouv√©. Installation en cours...
‚úÖ Installation termin√©e. Veuillez red√©marrer le kernel et r√©ex√©cuter cette cellule.
‚úÖ Pandas install√© avec succ√®s, version: 2.3.3

### SETUP

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns
from pathlib import Path

# D√©finir le chemin vers le dossier contenant les fichiers CSV
DOSSIER_DONNEES = Path(r'C:\Users\Pimi\Documents\Formation Data analyst OPC\Github\Projet-formation-OPC\P10 Faites une √©tude sur l'eau potable\Livrable')

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import seaborn as sns

### Mortalit√©

In [ ]:
df_mortality = pd.read_csv(DOSSIER_DONNEES / 'mortalityrateattributedtowater.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'mortalityrateattributedtowater.csv'

In [ ]:
df_mortality.head()

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,2016,Afghanistan,Female,15.31193,NaN
1,2016,Afghanistan,Male,12.61297,NaN
2,2016,Afghanistan,Total,13.92067,4824.353
3,2016,Albania,Female,0.12552,NaN
4,2016,Albania,Male,0.20650,NaN

In [ ]:
df_mortality_copy = df_mortality.copy()

In [ ]:
pivot_mortality =df_mortality_copy.pivot_table(
    index=['Year', 'Country'],  # Ce qu'on veux garder
    columns='Granularity',      # Ce qu'on veut pivoter (female, male, total)
    values=[
        'Mortality rate attributed to exposure to unsafe WASH services',
        'WASH deaths'
    ],
    aggfunc='first' 
)

In [ ]:
# Pour aplatir les noms de colonnes multi-index
pivot_mortality.columns = ['_'.join(col).strip() for col in pivot_mortality.columns.values]
pivot_mortality = pivot_mortality.reset_index()

print(pivot_mortality.head())

   Year              Country  \
0  2016          Afghanistan
1  2016              Albania
2  2016              Algeria
3  2016               Angola
4  2016  Antigua and Barbuda

   Mortality rate attributed to exposure to unsafe WASH services_Female  \
0                                           15.31193
1                                            0.12552
2                                            2.19890
3                                           45.15024
4                                            0.10419

   Mortality rate attributed to exposure to unsafe WASH services_Male  \
0                                           12.61297
1                                            0.20650
2                                            1.72837
3                                           52.62506
4                                            0.12469

   Mortality rate attributed to exposure to unsafe WASH services_Total  \
0                                           13.92067
1                                            0.16641
2                                            1.86723
3                                           48.81467
4                                            0.11403

   WASH deaths_Total
0         4824.35300
1            4.86975
2          758.21000
3        14065.20000
4            0.11513

In [ ]:
pivot_mortality.head()

,Year,Country,Mortality rate attributed to exposure to unsafe WASH services_Female,Mortality rate attributed to exposure to unsafe WASH services_Male,Mortality rate attributed to exposure to unsafe WASH services_Total,WASH deaths_Total
0,2016,Afghanistan,15.31193,12.61297,13.92067,4824.35300
1,2016,Albania,0.12552,0.20650,0.16641,4.86975
2,2016,Algeria,2.19890,1.72837,1.86723,758.21000
3,2016,Angola,45.15024,52.62506,48.81467,14065.20000
4,2016,Antigua and Barbuda,0.10419,0.12469,0.11403,0.11513

In [ ]:
pivot_mortality.nunique()

Year                                                                      1
Country                                                                 183
Mortality rate attributed to exposure to unsafe WASH services_Female    183
Mortality rate attributed to exposure to unsafe WASH services_Male      183
Mortality rate attributed to exposure to unsafe WASH services_Total     183
WASH deaths_Total                                                       183
dtype: int64

In [ ]:
pivot_mortality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 6 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Year                                                                  183 non-null    int64
 1   Country                                                               183 non-null    object
 2   Mortality rate attributed to exposure to unsafe WASH services_Female  183 non-null    float64
 3   Mortality rate attributed to exposure to unsafe WASH services_Male    183 non-null    float64
 4   Mortality rate attributed to exposure to unsafe WASH services_Total   183 non-null    float64
 5   WASH deaths_Total                                                     183 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 8.7+ KB

In [ ]:
pivot_mortality.to_csv('MortalityRateAttributedToWaterClean.csv', index=False)

In [ ]:

print("il y a ", df_mortality.shape[0],'entr√©es et ',df_mortality.shape[1],'colonnes')

il y a  549 entr√©es et  5 colonnes

In [ ]:
df_mortality.nunique()

Year                                                               1
Country                                                          183
Granularity                                                        3
Mortality rate attributed to exposure to unsafe WASH services    548
WASH deaths                                                      183
dtype: int64

In [ ]:
df_mortality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 5 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Year                                                           549 non-null    int64
 1   Country                                                        549 non-null    object
 2   Granularity                                                    549 non-null    object
 3   Mortality rate attributed to exposure to unsafe WASH services  549 non-null    float64
 4   WASH deaths                                                    183 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 21.6+ KB

### Water Services

In [ ]:
df_water_services = pd.read_csv(DOSSIER_DONNEES / 'basicandsafelymanageddrinkingwaterservices.csv')
df_water_services.head()

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324

In [ ]:
print("il y a ", df_water_services.shape[0],'entr√©es et ',df_water_services.shape[1],'colonnes')

il y a  10476 entr√©es et  5 colonnes

In [ ]:
df_water_services.nunique()

Year                                                             18
Country                                                         194
Granularity                                                       3
Population using at least basic drinking-water services (%)    7704
Population using safely managed drinking-water services (%)    2877
dtype: int64

In [ ]:
df_water_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10476 entries, 0 to 10475
Data columns (total 5 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Year                                                         10476 non-null  int64
 1   Country                                                      10476 non-null  object
 2   Granularity                                                  10476 non-null  object
 3   Population using at least basic drinking-water services (%)  9415 non-null   float64
 4   Population using safely managed drinking-water services (%)  3286 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 409.3+ KB

In [ ]:
df_water_services_copy = df_water_services.copy()

In [ ]:
df_water_services_copy = df_water_services_copy.pivot_table(
    index=['Year', 'Country'],  
    columns='Granularity',      
    values=[
        'Population using at least basic drinking-water services (%)',
        'Population using safely managed drinking-water services (%)'
    ],
    aggfunc='first'  
)

df_water_services_copy.columns = ['_'.join(col).strip() for col in df_water_services_copy.columns.values]
df_water_services_copy = df_water_services_copy.reset_index()

print(df_water_services_copy.head())

   Year      Country  \
0  2000  Afghanistan
1  2000      Albania
2  2000      Algeria
3  2000      Andorra
4  2000       Angola

   Population using at least basic drinking-water services (%)_Rural  \
0                                           21.61913
1                                           81.78472
2                                           83.32201
3                                          100.00000
4                                           21.15264

   Population using at least basic drinking-water services (%)_Total  \
0                                           27.77190
1                                           87.86662
2                                           89.83726
3                                          100.00000
4                                           41.14431

   Population using at least basic drinking-water services (%)_Urban  \
0                                           49.48745
1                                           96.35529
2                                           94.19543
3                                          100.00000
4                                           61.06653

   Population using safely managed drinking-water services (%)_Rural  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   Population using safely managed drinking-water services (%)_Total  \
0                                                NaN
1                                           49.29324
2                                                NaN
3                                           90.64000
4                                                NaN

   Population using safely managed drinking-water services (%)_Urban
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

In [ ]:
df_water_services_copy.head()

,Year,Country,Population using at least basic drinking-water services (%)_Rural,Population using at least basic drinking-water services (%)_Total,Population using at least basic drinking-water services (%)_Urban,Population using safely managed drinking-water services (%)_Rural,Population using safely managed drinking-water services (%)_Total,Population using safely managed drinking-water services (%)_Urban
0,2000,Afghanistan,21.61913,27.77190,49.48745,NaN,NaN,NaN
1,2000,Albania,81.78472,87.86662,96.35529,NaN,49.29324,NaN
2,2000,Algeria,83.32201,89.83726,94.19543,NaN,NaN,NaN
3,2000,Andorra,100.00000,100.00000,100.00000,NaN,90.64000,NaN
4,2000,Angola,21.15264,41.14431,61.06653,NaN,NaN,NaN

In [ ]:
df_water_services_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 8 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Year                                                               3455 non-null   int64
 1   Country                                                            3455 non-null   object
 2   Population using at least basic drinking-water services (%)_Rural  2953 non-null   float64
 3   Population using at least basic drinking-water services (%)_Total  3449 non-null   float64
 4   Population using at least basic drinking-water services (%)_Urban  3013 non-null   float64
 5   Population using safely managed drinking-water services (%)_Rural  612 non-null    float64
 6   Population using safely managed drinking-water services (%)_Total  1745 non-null   float64
 7   Population using safely managed drinking-water services (%)_Urban  929 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 216.1+ KB

In [ ]:
df_water_services_copy.to_csv('water_servicesClean.csv', index=False)

### Political

In [ ]:
df_political = pd.read_csv(DOSSIER_DONNEES / 'politicalstability.csv') 
df_political.head()

       Country  Year  Political_Stability Granularity
0  Afghanistan  2000                -2.44       Total
1  Afghanistan  2002                -2.04       Total
2  Afghanistan  2003                -2.20       Total
3  Afghanistan  2004                -2.30       Total
4  Afghanistan  2005                -2.07       Total

In [ ]:
print("il y a ", df_political.shape[0],'entr√©es et ',df_political.shape[1],'colonnes')

il y a  3526 entr√©es et  4 colonnes

In [ ]:
df_political.nunique()

Country                200
Year                    18
Political_Stability    444
Granularity              1
dtype: int64

In [ ]:
df_political.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              3526 non-null   object
 1   Year                 3526 non-null   int64
 2   Political_Stability  3526 non-null   float64
 3   Granularity          3526 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 110.3+ KB

### Population

In [ ]:
df_population = pd.read_csv(DOSSIER_DONNEES / 'population.csv')
df_population.head()

       Country Granularity  Year  Population
0  Afghanistan       Total  2000   20779.953
1  Afghanistan        Male  2000   10689.508
2  Afghanistan      Female  2000   10090.449
3  Afghanistan       Rural  2000   15657.474
4  Afghanistan       Urban  2000    4436.282

In [ ]:
print("il y a ", df_population.shape[0],'entr√©es et ',df_population.shape[1],'colonnes')

il y a  20914 entr√©es et  4 colonnes

In [ ]:
df_population.nunique()

Country          239
Granularity        5
Year              19
Population     20515
dtype: int64

In [ ]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20914 entries, 0 to 20913
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      20914 non-null  object
 1   Granularity  20914 non-null  object
 2   Year         20914 non-null  int64
 3   Population   20914 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 653.7+ KB

In [ ]:
df_population_copy = df_population.copy()

In [ ]:
df_population_copy = df_population_copy.pivot_table(
    index=['Year', 'Country'],  
    columns='Granularity',    
    values=[
        'Population'
    ],
    aggfunc='first'
)

df_population_copy.columns = ['_'.join(col).strip() for col in df_population_copy.columns.values]
df_population_copy = df_population_copy.reset_index()

print(df_population_copy.head())

   Year         Country  Population_Female  Population_Male  Population_Rural  \
0  2000     Afghanistan          10090.449        10689.508         15657.474
1  2000         Albania           1545.740         1583.506          1818.833
2  2000         Algeria          15311.139        15731.099         12498.847
3  2000  American Samoa                NaN              NaN             6.565
4  2000         Andorra                NaN              NaN             4.973

   Population_Total  Population_Urban
0         20779.953          4436.282
1          3129.243          1303.137
2         31042.235         18684.813
3            57.821            50.956
4            65.390            60.417

In [ ]:
df_population_copy.nunique()

Year                   19
Country               239
Population_Female    3820
Population_Male      3819
Population_Rural     4181
Population_Total     4417
Population_Urban     4354
dtype: int64

In [ ]:
df_population_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4430 entries, 0 to 4429
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               4430 non-null   int64
 1   Country            4430 non-null   object
 2   Population_Female  3828 non-null   float64
 3   Population_Male    3828 non-null   float64
 4   Population_Rural   4414 non-null   float64
 5   Population_Total   4430 non-null   float64
 6   Population_Urban   4414 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 242.4+ KB

In [ ]:
df_population_copy.to_csv('populationClean.csv', index=False)

### Region

In [ ]:
df_region= pd.read_csv(DOSSIER_DONNEES / 'regioncountry.csv')
df_region.head()

  REGION (DISPLAY) COUNTRY (DISPLAY)
0           Europe           Albania
1           Europe           Andorra
2           Europe           Armenia
3  Western Pacific         Australia
4           Europe           Austria

In [ ]:
print("il y a ", df_region.shape[0],'entr√©es et ',df_region.shape[1],'colonnes')

il y a  194 entr√©es et  2 colonnes

In [ ]:
df_region.nunique()

REGION (DISPLAY)       6
COUNTRY (DISPLAY)    194
dtype: int64

In [ ]:
df_region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION (DISPLAY)   194 non-null    object
 1   COUNTRY (DISPLAY)  194 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [ ]:
df_region_copy = df_region.copy()

In [ ]:
df_region_copy = df_region_copy.rename(columns={'COUNTRY (DISPLAY)': 'Country'})
df_region_copy = df_region_copy.rename(columns={'REGION (DISPLAY)': 'Region'})

In [ ]:
df_region_copy.head()

            Region    Country
0           Europe    Albania
1           Europe    Andorra
2           Europe    Armenia
3  Western Pacific  Australia
4           Europe    Austria

### Comparaison Pays

In [ ]:

# R√©cup√®re les sets de pays uniques √† partir de tes DataFrames
mortality_countries = set(pivot_mortality['Country'].unique())
water_countries = set(df_water_services_copy['Country'].unique())
political_countries = set(df_political['Country'].unique())
population_countries = set(df_population_copy['Country'].unique())
region_countries = set(df_region_copy['Country'].unique())

# Dictionnaire des tables
tables = {
    'pivot_mortality': mortality_countries,
    'water_services': water_countries,
    'political': political_countries,
    'population': population_countries,
    'region': region_countries,
}

# Boucle pour identifier les pays manquants
for table_a, countries_a in tables.items():
    for table_b, countries_b in tables.items():
        if table_a != table_b:
            missing = countries_a - countries_b
            if missing:
                print(f"üü• Pays pr√©sents dans {table_a} mais absents de {table_b} ({len(missing)} pays) :")
                print(sorted(missing))
                print()

## on garde :
##China 
##on renomme republic_of_north_macedonia
##on renomme sudan --> NON en r√©alit√© Soudan apr√®s 2012 = Soudan + Sudan du Sud
##exclure les zones non reconnues

üü• Pays pr√©sents dans pivot_mortality mais absents de political (2 pays) :
['China', 'Republic of North Macedonia']

üü• Pays pr√©sents dans pivot_mortality mais absents de population (1 pays) :
['Republic of North Macedonia']

üü• Pays pr√©sents dans water_services mais absents de pivot_mortality (11 pays) :
['Andorra', 'Cook Islands', 'Dominica', 'Marshall Islands', 'Monaco', 'Nauru', 'Niue', 'Palau', 'Saint Kitts and Nevis', 'San Marino', 'Tuvalu']

üü• Pays pr√©sents dans water_services mais absents de political (4 pays) :
['China', 'Monaco', 'Republic of North Macedonia', 'San Marino']

üü• Pays pr√©sents dans water_services mais absents de population (1 pays) :
['Republic of North Macedonia']

üü• Pays pr√©sents dans political mais absents de pivot_mortality (19 pays) :
['American Samoa', 'Andorra', 'Bermuda', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Cook Islands', 'Dominica', 'Greenland', 'Marshall Islands', 'Nauru', 'Niue', 'North Macedonia', 'Palau', 'Palestine', 'Puerto Rico', 'Saint Kitts and Nevis', 'Tuvalu']

üü• Pays pr√©sents dans political mais absents de water_services (10 pays) :
['American Samoa', 'Bermuda', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Greenland', 'North Macedonia', 'Palestine', 'Puerto Rico']

üü• Pays pr√©sents dans political mais absents de region (10 pays) :
['American Samoa', 'Bermuda', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Greenland', 'North Macedonia', 'Palestine', 'Puerto Rico']

üü• Pays pr√©sents dans population mais absents de pivot_mortality (57 pays) :
['American Samoa', 'Andorra', 'Anguilla', 'Aruba', 'Bermuda', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands', 'Cayman Islands', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Cook Islands', 'Cura√ßao', 'Dominica', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guyana', 'French Polynesia', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Holy See', 'Isle of Man', 'Liechtenstein', 'Marshall Islands', 'Martinique', 'Mayotte', 'Monaco', 'Montserrat', 'Nauru', 'Netherlands Antilles (former)', 'New Caledonia', 'Niue', 'North Macedonia', 'Northern Mariana Islands', 'Palau', 'Palestine', 'Puerto Rico', 'R√©union', 'Saint Barth√©lemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Pierre and Miquelon', 'Saint-Martin (French part)', 'San Marino', 'Serbia and Montenegro', 'Sint Maarten  (Dutch part)', 'Sudan (former)', 'Tokelau', 'Turks and Caicos Islands', 'Tuvalu', 'United States Virgin Islands', 'Wallis and Futuna Islands', 'Western Sahara']

üü• Pays pr√©sents dans population mais absents de water_services (46 pays) :
['American Samoa', 'Anguilla', 'Aruba', 'Bermuda', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands', 'Cayman Islands', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Cura√ßao', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guyana', 'French Polynesia', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Holy See', 'Isle of Man', 'Liechtenstein', 'Martinique', 'Mayotte', 'Montserrat', 'Netherlands Antilles (former)', 'New Caledonia', 'North Macedonia', 'Northern Mariana Islands', 'Palestine', 'Puerto Rico', 'R√©union', 'Saint Barth√©lemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Pierre and Miquelon', 'Saint-Martin (French part)', 'Serbia and Montenegro', 'Sint Maarten  (Dutch part)', 'Sudan (former)', 'Tokelau', 'Turks and Caicos Islands', 'United States Virgin Islands', 'Wallis and Futuna Islands', 'Western Sahara']

üü• Pays pr√©sents dans population mais absents de political (39 pays) :
['Anguilla', 'Aruba', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands', 'Cayman Islands', 'Channel Islands', 'China', 'Cura√ßao', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guyana', 'French Polynesia', 'Gibraltar', 'Guadeloupe', 'Guam', 'Holy See', 'Isle of Man', 'Liechtenstein', 'Martinique', 'Mayotte', 'Monaco', 'Montserrat', 'Netherlands Antilles (former)', 'New Caledonia', 'Northern Mariana Islands', 'R√©union', 'Saint Barth√©lemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Pierre and Miquelon', 'Saint-Martin (French part)', 'San Marino', 'Serbia and Montenegro', 'Sint Maarten  (Dutch part)', 'Sudan (former)', 'Tokelau', 'Turks and Caicos Islands', 'United States Virgin Islands', 'Wallis and Futuna Islands', 'Western Sahara']

üü• Pays pr√©sents dans population mais absents de region (46 pays) :
['American Samoa', 'Anguilla', 'Aruba', 'Bermuda', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands', 'Cayman Islands', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'China, Taiwan Province of', 'China, mainland', 'Cura√ßao', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guyana', 'French Polynesia', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Holy See', 'Isle of Man', 'Liechtenstein', 'Martinique', 'Mayotte', 'Montserrat', 'Netherlands Antilles (former)', 'New Caledonia', 'North Macedonia', 'Northern Mariana Islands', 'Palestine', 'Puerto Rico', 'R√©union', 'Saint Barth√©lemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Pierre and Miquelon', 'Saint-Martin (French part)', 'Serbia and Montenegro', 'Sint Maarten  (Dutch part)', 'Sudan (former)', 'Tokelau', 'Turks and Caicos Islands', 'United States Virgin Islands', 'Wallis and Futuna Islands', 'Western Sahara']

üü• Pays pr√©sents dans region mais absents de pivot_mortality (11 pays) :
['Andorra', 'Cook Islands', 'Dominica', 'Marshall Islands', 'Monaco', 'Nauru', 'Niue', 'Palau', 'Saint Kitts and Nevis', 'San Marino', 'Tuvalu']

üü• Pays pr√©sents dans region mais absents de political (4 pays) :
['China', 'Monaco', 'Republic of North Macedonia', 'San Marino']

üü• Pays pr√©sents dans region mais absents de population (1 pays) :
['Republic of North Macedonia']

In [ ]:
# Afficher toutes les colonnes pour les pays contenant "China" dans la table df_political
china_in_political = pivot_mortality[pivot_mortality['Country'].str.contains("Sudan", case=False, na=False)]
print(china_in_political)

     Year      Country  \
152  2016  South Sudan
155  2016        Sudan

     Mortality rate attributed to exposure to unsafe WASH services_Female  \
152                                           60.68713
155                                           18.31656

     Mortality rate attributed to exposure to unsafe WASH services_Male  \
152                                           65.87675
155                                           16.32655

     Mortality rate attributed to exposure to unsafe WASH services_Total  \
152                                           63.28665
155                                           17.32224

     WASH deaths_Total
152           7740.420
155           6855.941

In [ ]:
df_population_copy[df_population_copy['Country'].str.contains('China', na=False)]

,Year,Country,Population_Female,Population_Male,Population_Rural,Population_Total,Population_Urban
42,2000,China,642750.414,676800.981,829403.316,1319551.401,482727.522
43,2000,"China, Hong Kong SAR",3356.612,3249.716,0.000,6606.327,6663.654
44,2000,"China, Macao SAR",222.872,204.900,0.000,427.782,427.979
45,2000,"China, Taiwan Province of",10807.920,11158.608,6581.394,21966.527,15258.841
46,2000,"China, mainland",628363.010,662187.757,822821.922,1290550.765,460377.048
...,...,...,...,...,...,...,...
4236,2018,China,711188.365,748189.245,583199.631,1459377.612,863601.691
4237,2018,"China, Hong Kong SAR",3975.753,3395.975,0.000,7371.730,7428.887
4238,2018,"China, Macao SAR",328.312,303.321,0.000,631.636,632.418
4239,2018,"China, Taiwan Province of",11914.294,11812.166,5175.798,23726.460,18518.291
4240,2018,"China, mainland",694970.006,732677.783,578023.833,1427647.786,837022.095

In [ ]:
df_population_copy = df_population_copy[~df_population_copy['Country'].isin(['China'])] ##On va garder "China, mainland" donc on supprime chine qui est l'addition de mainland + les iles (Taiwan, Hong Kong, Macao)

In [ ]:
# Dictionnaire de correspondance des pays selon les standards de l'OMS
country_mapping = {
    'China': 'China',
    'China, mainland': 'China',
    'China, Hong Kong SAR': 'Hong Kong',
    'China, Macao SAR': 'Macao',
    'China, Taiwan Province of': 'Taiwan',
    'Republic of North Macedonia': 'North Macedonia',

}

# Fonction pour harmoniser les noms des pays
def harmonize_country_names(df, column='Country'):
    df = df.copy()
    df[column] = df[column].replace(country_mapping)
    return df

# Application de la fonction sur chaque table

# Harmoniser les noms de pays dans pivot_mortality
pivot_mortality = harmonize_country_names(pivot_mortality)

# Harmoniser les noms de pays dans df_water_services_copy
df_water_services_copy = harmonize_country_names(df_water_services_copy)

# Harmoniser les noms de pays dans df_political
df_political = harmonize_country_names(df_political)

# Harmoniser les noms de pays dans df_population_copy
df_population_copy = harmonize_country_names(df_population_copy)

# Harmoniser les noms de pays dans df_region
df_region_copy = harmonize_country_names(df_region_copy)

In [ ]:
df_population_copy[df_population_copy['Country'].str.contains('China', na=False)]

,Year,Country,Population_Female,Population_Male,Population_Rural,Population_Total,Population_Urban
46,2000,China,628363.010,662187.757,822821.922,1290550.765,460377.048
276,2001,China,632446.405,666683.342,812096.011,1299129.752,478841.638
506,2002,China,636323.513,671028.743,799636.098,1307352.257,499010.479
736,2003,China,640047.843,675255.679,786733.631,1315303.521,519610.280
966,2004,China,643685.783,679398.856,773371.566,1323084.641,540635.912
1196,2005,China,647290.480,683485.900,759640.167,1330776.380,561983.323
1426,2006,China,650879.793,687528.851,746114.014,1338408.647,583095.080
1657,2007,China,654460.412,691533.479,732581.000,1345993.888,604219.506
1888,2008,China,658058.462,695511.018,718740.699,1353569.484,625674.528
2119,2009,China,661699.098,699470.312,704698.529,1361169.419,647369.562
2350,2010,China,665396.585,703414.019,690401.545,1368810.615,669353.557
2582,2011,China,669157.645,707339.988,676756.443,1376497.639,690723.821
2818,2012,China,672969.777,711236.631,663331.826,1384206.401,711866.793
3055,2013,China,676800.720,715082.615,649733.726,1391883.330,733059.486
3292,2014,China,680604.601,718849.365,635847.563,1399453.965,754262.825
3529,2015,China,684339.862,722508.006,621675.635,1406847.870,775352.918
3766,2016,China,687996.940,726052.413,607210.874,1414049.351,796289.491
4003,2017,China,691559.414,729462.380,592559.784,1421021.791,816957.613
4240,2018,China,694970.006,732677.783,578023.833,1427647.786,837022.095

In [ ]:
# Exporter chaque table apr√®s harmonisation en format CSV

# Exporter pivot_mortality
pivot_mortality.to_csv('df_mortality_clean.csv', index=False)

# Exporter df_water_services_copy
df_water_services_copy.to_csv('df_water_services_clean.csv', index=False)

# Exporter df_political
df_political.to_csv('df_political_clean.csv', index=False)

# Exporter df_population_copy
df_population_copy.to_csv('df_population_clean.csv', index=False)

# Exporter df_region_copy
df_region_copy.to_csv('df_region_clean.csv', index=False)

In [ ]:
# Afficher toutes les colonnes pour les pays contenant "China" dans la table df_political
china_in_political = df_political[df_political['Country'].str.contains("China, mainland", case=False, na=False)]
print(china_in_political)