# SETUP

In [314]:
import pandas as pd
import pycountry as pyc
from babel import Locale
from babel import UnknownLocaleError

# IMPORT CSV

In [315]:
df_dispo_alimentaire = pd.read_csv('DisponibiliteAlimentaire_2017.csv')

In [316]:
df_population = pd.read_csv('Population_2000_2018.csv')

In [317]:
df_PIB = pd.read_csv('pib_fr.csv', sep = ';', encoding='latin1')

In [318]:
df_mapping_pays = pd.read_csv("mapping_pays.csv", sep = ',')

# Exploration des données

### Disponibilité alimentaire

In [319]:
df_dispo_alimentaire.shape[0]

176600

In [320]:
df_dispo_alimentaire.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [321]:
df_dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176600 entries, 0 to 176599
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            176600 non-null  object
 1   Domaine                 176600 non-null  object
 2   Code zone               176600 non-null  int64
 3   Zone                    176600 non-null  object
 4   Code Élément            176600 non-null  int64
 5   Élément                 176600 non-null  object
 6   Code Produit            176600 non-null  int64
 7   Produit                 176600 non-null  object
 8   Code année              176600 non-null  int64
 9   Année                   176600 non-null  int64
 10  Unité                   176600 non-null  object
 11  Valeur                  176600 non-null  float64
 12  Symbole                 176600 non-null  object
 13  Description du Symbole  176600 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 18.9+ MB

In [322]:
df_dispo_alimentaire.nunique()

Code Domaine                 1
Domaine                      1
Code zone                  174
Zone                       174
Code Élément                17
Élément                     17
Code Produit                98
Produit                     98
Code année                   1
Année                        1
Unité                        4
Valeur                    7250
Symbole                      2
Description du Symbole       2
dtype: int64

In [323]:
df_dispo_alimentaire[df_dispo_alimentaire['Produit'].str.contains('Volailles')]
##Faire pivot sur les éléments pertinents

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.00,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.00,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.00,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176396,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,67.00,S,Données standardisées
176397,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles,2017,2017,kg,4.68,Fc,Donnée calculée
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,16.00,Fc,Donnée calculée
176399,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.59,Fc,Donnée calculée
176400,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,0.99,Fc,Donnée calculée

In [324]:
##voir toutes les valeurs de element:
df_dispo_alimentaire['Élément'].unique()

array(['Production', 'Importations - Quantité', 'Variation de stock',
       'Exportations - Quantité', 'Disponibilité intérieure',
       'Aliments pour animaux', 'Semences', 'Pertes', 'Résidus',
       'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Traitement', 'Autres utilisations (non alimentaire)',
       'Alimentation pour touristes'], dtype=object)

On choisit de garder : 
- Production
- Importation
- Disponibilité intérieur
- Nourriture

In [325]:
# Filtrer le DataFrame
df_volailles = df_dispo_alimentaire[
    (df_dispo_alimentaire['Produit'] == 'Viande de Volailles') &
    (df_dispo_alimentaire['Élément'].isin([
        'Production',
        'Importations - Quantité',
        'Disponibilité intérieure',
        'Nourriture'
    ]))
]

In [326]:
df_volailles.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
657,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,55.0,S,Données standardisées
1704,FBS,Nouveaux Bilans Alimentaire,202,Afrique du Sud,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,1667.0,S,Données standardisées

In [327]:
# 1. Liste de tous les pays uniques
pays_uniques = pd.DataFrame({'Zone': df_dispo_alimentaire['Zone'].unique()})

# 2. Pivot sur la viande de volailles avec les dimensions choisies
pivot_volailles = df_volailles.pivot_table(
    index=['Zone',  'Code Produit', 'Code zone', 'Produit', 'Année','Unité'],
    columns='Élément',
    values='Valeur',
    aggfunc='sum'
).reset_index()

# 3. Merge pour inclure tous les pays, même ceux sans données
df_dispo_alimentaire_final = pays_uniques.merge(
    pivot_volailles,
    on='Zone',
    how='left'
)

In [328]:
df_dispo_alimentaire_final.head()

,Zone,Code Produit,Code zone,Produit,Année,Unité,Disponibilité intérieure,Importations - Quantité,Nourriture,Production
0,Afghanistan,2734.0,2.0,Viande de Volailles,2017.0,Milliers de tonnes,57.0,29.0,55.0,28.0
1,Afrique du Sud,2734.0,202.0,Viande de Volailles,2017.0,Milliers de tonnes,2118.0,514.0,2035.0,1667.0
2,Albanie,2734.0,3.0,Viande de Volailles,2017.0,Milliers de tonnes,47.0,38.0,47.0,13.0
3,Algérie,2734.0,4.0,Viande de Volailles,2017.0,Milliers de tonnes,277.0,2.0,264.0,275.0
4,Allemagne,2734.0,79.0,Viande de Volailles,2017.0,Milliers de tonnes,1739.0,842.0,1609.0,1514.0

In [329]:
correspondance_fr = {
    "Bélarus": "Biélorussie",
    "Bolivie (État plurinational de)": "Bolivie",
    "Brunéi Darussalam": "Brunei",
    "Cabo Verde": "Cap-Vert",
    "Chine - RAS de Hong-Kong": "Hong Kong",
    "Chine - RAS de Macao": "Macao",
    "Chine, continentale": "Chine",
    "Chine, Taiwan province de": "Taïwan",
    "Congo": "République du Congo",  # ou République démocratique du Congo
    "Côte d'Ivoire": "Côte d'Ivoire",
    "El Salvador": "El Salvador",
    "États-Unis d'Amérique": "États-Unis",
    "Fédération de Russie": "Russie",
    "Iran (République islamique d')": "Iran",
    "Iraq": "Irak",
    "Kirghizistan": "Kirghizistan",
    "Libéria": "Libéria",
    "Myanmar": "Myanmar",
    "Nigéria": "Nigéria",
    "République de Corée": "Corée du Sud",
    "République de Moldova": "Moldavie",
    "République démocratique populaire lao": "Laos",
    "République populaire démocratique de Corée": "Corée du Nord",
    "République-Unie de Tanzanie": "Tanzanie",
    "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord": "Royaume-Uni",
    "Saint-Kitts-et-Nevis": "Saint-Christophe-et-Niévès",
    "Timor-Leste": "Timor oriental",
    "Venezuela (République bolivarienne du)": "Venezuela",
    "Viet Nam": "Viêt Nam"
}

# Application
df_dispo_alimentaire_final['Zone'] = df_dispo_alimentaire_final['Zone'].apply(
    lambda x: correspondance_fr.get(x, x)
)

In [330]:
df_dispo_alimentaire_final['Zone'] = df_dispo_alimentaire_final['Zone'].str.upper()

In [331]:
pays_dispo = df_dispo_alimentaire_final['Zone']

### Population

In [332]:
df_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [333]:
colonne_population_a_garder = ['Code zone','Zone','Élément', 'Année', 'Unité', 'Valeur']

In [334]:
df_population_copy = df_population[colonne_population_a_garder].copy()

In [335]:
df_population_copy.head()

   Code zone         Zone            Élément  Année           Unité     Valeur
0          2  Afghanistan  Population totale   2000  1000 personnes  20779.953
1          2  Afghanistan  Population totale   2001  1000 personnes  21606.988
2          2  Afghanistan  Population totale   2002  1000 personnes  22600.770
3          2  Afghanistan  Population totale   2003  1000 personnes  23680.871
4          2  Afghanistan  Population totale   2004  1000 personnes  24726.684

In [336]:

pivot_population_copy = df_population_copy.pivot_table(
    index=['Code zone','Zone','Élément','Unité'],
    columns= 'Année',
    values='Valeur',
    aggfunc='sum'
).reset_index()

pivot_population_copy.head()

Année,Code zone,Zone,Élément,Unité,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Arménie,Population totale,1000 personnes,3069.591,3050.687,3033.978,3017.932,3000.720,2981.269,...,2888.092,2877.319,2876.538,2884.234,2897.588,2912.409,2925.553,2936.143,2944.791,2951.745
1,2,Afghanistan,Population totale,1000 personnes,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,...,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921
2,3,Albanie,Population totale,1000 personnes,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,...,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740
3,4,Algérie,Population totale,1000 personnes,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,...,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408
4,5,Samoa américaines,Population totale,1000 personnes,57.821,58.494,59.080,59.504,59.681,59.562,...,56.683,56.079,55.759,55.667,55.713,55.791,55.812,55.741,55.620,55.465

In [337]:
annee_a_garder = ['Zone','Code zone','Élément','Unité',2012,2013,2014,2015,2016,2017]

In [338]:
df_population_copy_final = pivot_population_copy[annee_a_garder].copy()
df_population_copy_final.head()

Année,Zone,Code zone,Élément,Unité,2012,2013,2014,2015,2016,2017
0,Arménie,1,Population totale,1000 personnes,2884.234,2897.588,2912.409,2925.553,2936.143,2944.791
1,Afghanistan,2,Population totale,1000 personnes,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113
2,Albanie,3,Population totale,1000 personnes,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169
3,Algérie,4,Population totale,1000 personnes,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189
4,Samoa américaines,5,Population totale,1000 personnes,55.667,55.713,55.791,55.812,55.741,55.620

In [339]:
## Feature 1 : Calcul de l'évolution démographique de chaque pays entre 2012 et 2017
df_population_copy_final['Evolution démographique 2012-2017']= (df_population_copy_final[2017] - df_population_copy_final[2012]) / df_population_copy_final[2012]

In [340]:
df_population_copy_final.head()

Année,Zone,Code zone,Élément,Unité,2012,2013,2014,2015,2016,2017,Evolution démographique 2012-2017
0,Arménie,1,Population totale,1000 personnes,2884.234,2897.588,2912.409,2925.553,2936.143,2944.791,0.020996
1,Afghanistan,2,Population totale,1000 personnes,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,0.164779
2,Albanie,3,Population totale,1000 personnes,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,-0.010270
3,Algérie,4,Population totale,1000 personnes,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,0.107140
4,Samoa américaines,5,Population totale,1000 personnes,55.667,55.713,55.791,55.812,55.741,55.620,-0.000844

In [341]:
colonne_annee_a_garder = ['Zone','Code zone',2017,'Evolution démographique 2012-2017']

In [342]:
df_population_copy_final= df_population_copy_final[colonne_annee_a_garder]

In [343]:
df_population_copy_final = df_population_copy_final.rename(columns= {2017 : 'Population 2017 (en millier)'})

In [344]:
## Conversion des noms de pays à partir de la table de correspondance
correspondance_fr = {
    "Bélarus": "Biélorussie",
    "Bolivie (État plurinational de)": "Bolivie",
    "Brunéi Darussalam": "Brunei",
    "Cabo Verde": "Cap-Vert",
    "Chine - RAS de Hong-Kong": "Hong Kong",
    "Chine - RAS de Macao": "Macao",
    "Chine, continentale": "Chine",
    "Chine, Taiwan province de": "Taïwan",
    "Congo": "République du Congo",  # ou République démocratique du Congo
    "Côte d'Ivoire": "Côte d'Ivoire",
    "El Salvador": "El Salvador",
    "États-Unis d'Amérique": "États-Unis",
    "Fédération de Russie": "Russie",
    "Iran (République islamique d')": "Iran",
    "Iraq": "Irak",
    "Kirghizistan": "Kirghizistan",
    "Libéria": "Libéria",
    "Myanmar": "Myanmar",
    "Nigéria": "Nigéria",
    "République de Corée": "Corée du Sud",
    "République de Moldova": "Moldavie",
    "République démocratique populaire lao": "Laos",
    "République populaire démocratique de Corée": "Corée du Nord",
    "République-Unie de Tanzanie": "Tanzanie",
    "Royaume-Uni de Grande-Bretagne et d'Irlande du Nord": "Royaume-Uni",
    "Saint-Kitts-et-Nevis": "Saint-Christophe-et-Niévès",
    "Timor-Leste": "Timor oriental",
    "Venezuela (République bolivarienne du)": "Venezuela",
    "Viet Nam": "Viêt Nam"
}

# Application
df_population_copy_final['Zone'] = df_population_copy_final['Zone'].apply(
    lambda x: correspondance_fr.get(x, x))

In [345]:
## Mise en majuscule de tout les noms des pays
df_population_copy_final['Zone'] = df_population_copy_final['Zone'].str.upper()

In [346]:
df_population_copy_final.head()

Année,Zone,Code zone,Population 2017 (en millier),Evolution démographique 2012-2017
0,ARMÉNIE,1,2944.791,0.020996
1,AFGHANISTAN,2,36296.113,0.164779
2,ALBANIE,3,2884.169,-0.010270
3,ALGÉRIE,4,41389.189,0.107140
4,SAMOA AMÉRICAINES,5,55.620,-0.000844

## PIB / habitant

In [347]:
df_PIB.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69,Unnamed: 70
0,Aruba,ABW,PIB par habitant ($ÿUS courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,28440.051964,30082.127645,31096.205074,22855.932320,27200.061079,30559.533535,33984.790620,NaN,NaN,NaN
1,NaN,AFE,PIB par habitant ($ÿUS courants),NY.GDP.PCAP.CD,186.121834666874,186.941781389892,197.402402,225.440494,208.999748,226.876513,...,1520.212231,1538.901679,1493.817938,1344.103210,1522.393346,1628.318944,1568.159891,1673.841139,NaN,NaN
2,Afghanistan,AFG,PIB par habitant ($ÿUS courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,525.469771,491.337221,496.602504,510.787063,356.496214,357.261153,413.757895,NaN,NaN,NaN
3,NaN,AFW,PIB par habitant ($ÿUS courants),NY.GDP.PCAP.CD,121.939925360065,127.454188774276,133.827044,139.008291,148.549379,155.565216,...,1574.230560,1720.140280,1798.340685,1680.039332,1765.954788,1796.668633,1599.392983,1284.154441,NaN,NaN
4,Angola,AGO,PIB par habitant ($ÿUS courants),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2437.259712,2538.591391,2189.855714,1449.922867,1925.874661,2929.694455,2309.534130,2122.083690,NaN,NaN

In [348]:
df_PIB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 71 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            155 non-null    object
 5   1961            154 non-null    object
 6   1962            156 non-null    float64
 7   1963            156 non-null    float64
 8   1964            156 non-null    float64
 9   1965            162 non-null    float64
 10  1966            163 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            189 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            208 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            239 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            259 non-null    float64
 64  2020            258 non-null    float64
 65  2021            258 non-null    float64
 66  2022            257 non-null    float64
 67  2023            249 non-null    float64
 68  2024            233 non-null    float64
 69  Unnamed: 69     11 non-null     float64
 70  Unnamed: 70     1 non-null      float64
dtypes: float64(65), object(6)
memory usage: 147.7+ KB

In [349]:
df_PIB.nunique()

Country Name      259
Country Code      266
Indicator Name     14
Indicator Code      3
1960              142
                 ...
2022              255
2023              247
2024              231
Unnamed: 69        11
Unnamed: 70         1
Length: 71, dtype: int64

In [350]:
colonne_pib_a_garder = ['Country Name','Country Code','Indicator Name', '2012','2013','2014','2015','2016','2017']

In [351]:
df_PIB_copy = df_PIB[colonne_pib_a_garder].copy()

In [352]:
## Feature 2 : calcul de l'évolution du PIB de tous les pays entre 2012 et 2017
df_PIB_copy['Evolution PIB 2012-2017'] = (df_PIB_copy['2017']- df_PIB_copy['2012']) / df_PIB_copy['2012']

In [353]:
df_PIB_copy.head()

,Country Name,Country Code,Indicator Name,2012,2013,2014,2015,2016,2017,Evolution PIB 2012-2017
0,Aruba,ABW,PIB par habitant ($ÿUS courants),25119.665545,25813.576727,26129.839062,27458.225331,27441.529662,28440.051964,0.132183
1,NaN,AFE,PIB par habitant ($ÿUS courants),1702.969100,1673.221102,1656.167709,1479.615260,1329.807285,1520.212231,-0.107317
2,Afghanistan,AFG,PIB par habitant ($ÿUS courants),651.417134,637.087099,625.054942,565.569730,522.082216,525.469771,-0.193344
3,NaN,AFW,PIB par habitant ($ÿUS courants),1941.369556,2131.662067,2221.010665,1860.727694,1630.039447,1574.230560,-0.189113
4,Angola,AGO,PIB par habitant ($ÿUS courants),5086.027401,5057.747878,5005.999741,3213.902611,1807.952941,2437.259712,-0.520793

In [354]:
colonne_annee_pib_a_garder = ['Country Code','2017','Evolution PIB 2012-2017']

In [355]:
df_PIB_copy = df_PIB_copy[colonne_annee_pib_a_garder]

In [356]:
df_PIB_copy=  df_PIB_copy.rename(columns={'2017' : 'PIB/habitant 2017($)'})

In [357]:
df_PIB_copy.head()

  Country Code  PIB/habitant 2017($)  Evolution PIB 2012-2017
0          ABW          28440.051964                 0.132183
1          AFE           1520.212231                -0.107317
2          AFG            525.469771                -0.193344
3          AFW           1574.230560                -0.189113
4          AGO           2437.259712                -0.520793

## Mapping pays

In [358]:
# Définir la locale française
locale_fr = Locale('fr')

# Lister les pays
pays_liste = []

for country in pyc.countries:
    try:
        nom_fr = locale_fr.territories.get(country.alpha_2)
        pays_liste.append({
            'Nom_FR': nom_fr,
            'Nom_EN': country.name,
            'Alpha_2': country.alpha_2,
            'Alpha_3': country.alpha_3,
            'Numérique': country.numeric
        })
    except KeyError:
        continue  # certains territoires n'ont pas de traduction

In [359]:
df_mapping_en_pays = pd.DataFrame(pays_liste)

In [360]:
df_mapping_en_pays.head()

        Nom_FR         Nom_EN Alpha_2 Alpha_3 Numérique
0        Aruba          Aruba      AW     ABW       533
1  Afghanistan    Afghanistan      AF     AFG       004
2       Angola         Angola      AO     AGO       024
3     Anguilla       Anguilla      AI     AIA       660
4   Îles Åland  Åland Islands      AX     ALA       248

In [361]:
df_mapping_en_pays= df_mapping_en_pays.rename(columns={'Nom_FR':'Zone', 'Alpha_3' : 'Country Code'})

In [362]:
colonne_mapping_en_pays_a_garder = ['Zone', 'Nom_EN', 'Country Code']

In [363]:
df_mapping_en_pays = df_mapping_en_pays[colonne_mapping_en_pays_a_garder]

In [364]:
df_mapping_en_pays['Zone'] = df_mapping_en_pays['Zone'].str.upper()

In [365]:
df_mapping_en_pays.head(30)

                           Zone                            Nom_EN Country Code
0                         ARUBA                             Aruba          ABW
1                   AFGHANISTAN                       Afghanistan          AFG
2                        ANGOLA                            Angola          AGO
3                      ANGUILLA                          Anguilla          AIA
4                    ÎLES ÅLAND                     Åland Islands          ALA
5                       ALBANIE                           Albania          ALB
6                       ANDORRE                           Andorra          AND
7           ÉMIRATS ARABES UNIS              United Arab Emirates          ARE
8                     ARGENTINE                         Argentina          ARG
9                       ARMÉNIE                           Armenia          ARM
10            SAMOA AMÉRICAINES                    American Samoa          ASM
11                  ANTARCTIQUE                        Antarctica          ATA
12  TERRES AUSTRALES FRANÇAISES       French Southern Territories          ATF
13           ANTIGUA-ET-BARBUDA               Antigua and Barbuda          ATG
14                    AUSTRALIE                         Australia          AUS
15                     AUTRICHE                           Austria          AUT
16                  AZERBAÏDJAN                        Azerbaijan          AZE
17                      BURUNDI                           Burundi          BDI
18                     BELGIQUE                           Belgium          BEL
19                        BÉNIN                             Benin          BEN
20           PAYS-BAS CARIBÉENS  Bonaire, Sint Eustatius and Saba          BES
21                 BURKINA FASO                      Burkina Faso          BFA
22                   BANGLADESH                        Bangladesh          BGD
23                     BULGARIE                          Bulgaria          BGR
24                      BAHREÏN                           Bahrain          BHR
25                      BAHAMAS                           Bahamas          BHS
26           BOSNIE-HERZÉGOVINE            Bosnia and Herzegovina          BIH
27             SAINT-BARTHÉLEMY                  Saint Barthélemy          BLM
28                  BIÉLORUSSIE                           Belarus          BLR
29                       BELIZE                            Belize          BLZ

In [366]:
# 2. Charger le fichier CSV de correspondance
mapping_df = pd.read_csv("correspondance_pays.csv", encoding='latin1', sep = ';') # remplace par ton vrai nom de fichier

# 3. Créer un dictionnaire de correspondance à partir du mapping
mapping_dict = dict(zip(
    mapping_df['Zone de df_dispo_alimentaire_final'],
    mapping_df['Zone df_mapping_en_pays']
))

# 4. Appliquer la correction sur la colonne 'Zone' de df
df_dispo_alimentaire_final['Zone_corrigée'] = df_dispo_alimentaire_final['Zone'].map(mapping_dict)

# 5. Optionnel : conserver l'original si pas trouvé dans le mapping
df_dispo_alimentaire_final['Zone_corrigée'] = df_dispo_alimentaire_final['Zone_corrigée'].fillna(df_dispo_alimentaire_final['Zone'])

# 6. Afficher ou enregistrer le résultat
print(df_dispo_alimentaire_final[['Zone', 'Zone_corrigée']])

               Zone   Zone_corrigée
0       AFGHANISTAN     AFGHANISTAN
1    AFRIQUE DU SUD  AFRIQUE DU SUD
2           ALBANIE         ALBANIE
3           ALGÉRIE         ALGÉRIE
4         ALLEMAGNE       ALLEMAGNE
..              ...             ...
169       VENEZUELA       VENEZUELA
170        VIÊT NAM        VIÊT NAM
171           YÉMEN           YÉMEN
172          ZAMBIE          ZAMBIE
173        ZIMBABWE        ZIMBABWE

[174 rows x 2 columns]

In [367]:
df_dispo_alimentaire_final[df_dispo_alimentaire_final['Zone_corrigée'] == 'RUSSIE']

,Zone,Code Produit,Code zone,Produit,Année,Unité,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Zone_corrigée
56,RUSSIE,2734.0,185.0,Viande de Volailles,2017.0,Milliers de tonnes,4556.0,226.0,4509.0,4444.0,RUSSIE

-Production
-(P ou E)Importations 
-(E)Dispo intérieur  
-(S)Nourriture
-Population 
-(E)PIB/habitant 
-(S)Croissance démographique 
-EPI

# JOINTURE

## Jointure Dispo + Population

In [368]:
#jointure Dispo + Population
df_joint_dispo_population = pd.merge( df_dispo_alimentaire_final, df_population_copy_final, on='Zone', how='left')

In [369]:
df_joint_dispo_population.head()

,Zone,Code Produit,Code zone_x,Produit,Année,Unité,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Zone_corrigée,Code zone_y,Population 2017 (en millier),Evolution démographique 2012-2017
0,AFGHANISTAN,2734.0,2.0,Viande de Volailles,2017.0,Milliers de tonnes,57.0,29.0,55.0,28.0,AFGHANISTAN,2,36296.113,0.164779
1,AFRIQUE DU SUD,2734.0,202.0,Viande de Volailles,2017.0,Milliers de tonnes,2118.0,514.0,2035.0,1667.0,AFRIQUE DU SUD,202,57009.756,0.079063
2,ALBANIE,2734.0,3.0,Viande de Volailles,2017.0,Milliers de tonnes,47.0,38.0,47.0,13.0,ALBANIE,3,2884.169,-0.010270
3,ALGÉRIE,2734.0,4.0,Viande de Volailles,2017.0,Milliers de tonnes,277.0,2.0,264.0,275.0,ALGÉRIE,4,41389.189,0.107140
4,ALLEMAGNE,2734.0,79.0,Viande de Volailles,2017.0,Milliers de tonnes,1739.0,842.0,1609.0,1514.0,ALLEMAGNE,79,82658.409,0.020819

In [370]:
df_joint_dispo_population.nunique()

Zone                                 174
Code Produit                           1
Code zone_x                          170
Produit                                1
Année                                  1
Unité                                  1
Disponibilité intérieure             135
Importations - Quantité               84
Nourriture                           130
Production                           125
Zone_corrigée                        174
Code zone_y                          174
Population 2017 (en millier)         174
Evolution démographique 2012-2017    174
dtype: int64

In [371]:
df_joint_dispo_population.head()

,Zone,Code Produit,Code zone_x,Produit,Année,Unité,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Zone_corrigée,Code zone_y,Population 2017 (en millier),Evolution démographique 2012-2017
0,AFGHANISTAN,2734.0,2.0,Viande de Volailles,2017.0,Milliers de tonnes,57.0,29.0,55.0,28.0,AFGHANISTAN,2,36296.113,0.164779
1,AFRIQUE DU SUD,2734.0,202.0,Viande de Volailles,2017.0,Milliers de tonnes,2118.0,514.0,2035.0,1667.0,AFRIQUE DU SUD,202,57009.756,0.079063
2,ALBANIE,2734.0,3.0,Viande de Volailles,2017.0,Milliers de tonnes,47.0,38.0,47.0,13.0,ALBANIE,3,2884.169,-0.010270
3,ALGÉRIE,2734.0,4.0,Viande de Volailles,2017.0,Milliers de tonnes,277.0,2.0,264.0,275.0,ALGÉRIE,4,41389.189,0.107140
4,ALLEMAGNE,2734.0,79.0,Viande de Volailles,2017.0,Milliers de tonnes,1739.0,842.0,1609.0,1514.0,ALLEMAGNE,79,82658.409,0.020819

## Jointure Dispo_Population + Mapping

In [372]:
df_joint_dispo_population_mapping = df_joint_dispo_population.merge(df_mapping_en_pays, on ='Zone', how = 'left')

In [373]:
df_joint_dispo_population_mapping.head()

,Zone,Code Produit,Code zone_x,Produit,Année,Unité,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Zone_corrigée,Code zone_y,Population 2017 (en millier),Evolution démographique 2012-2017,Nom_EN,Country Code
0,AFGHANISTAN,2734.0,2.0,Viande de Volailles,2017.0,Milliers de tonnes,57.0,29.0,55.0,28.0,AFGHANISTAN,2,36296.113,0.164779,Afghanistan,AFG
1,AFRIQUE DU SUD,2734.0,202.0,Viande de Volailles,2017.0,Milliers de tonnes,2118.0,514.0,2035.0,1667.0,AFRIQUE DU SUD,202,57009.756,0.079063,South Africa,ZAF
2,ALBANIE,2734.0,3.0,Viande de Volailles,2017.0,Milliers de tonnes,47.0,38.0,47.0,13.0,ALBANIE,3,2884.169,-0.010270,Albania,ALB
3,ALGÉRIE,2734.0,4.0,Viande de Volailles,2017.0,Milliers de tonnes,277.0,2.0,264.0,275.0,ALGÉRIE,4,41389.189,0.107140,Algeria,DZA
4,ALLEMAGNE,2734.0,79.0,Viande de Volailles,2017.0,Milliers de tonnes,1739.0,842.0,1609.0,1514.0,ALLEMAGNE,79,82658.409,0.020819,Germany,DEU

In [374]:
df_joint_dispo_population_mapping = df_joint_dispo_population_mapping[['Country Code','Zone','Code Produit','Produit','Année','Disponibilité intérieure','Importations - Quantité','Nourriture','Production','Population 2017 (en millier)', 'Evolution démographique 2012-2017']]

In [375]:
df_joint_dispo_population_mapping.head()

,Country Code,Zone,Code Produit,Produit,Année,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Population 2017 (en millier),Evolution démographique 2012-2017
0,AFG,AFGHANISTAN,2734.0,Viande de Volailles,2017.0,57.0,29.0,55.0,28.0,36296.113,0.164779
1,ZAF,AFRIQUE DU SUD,2734.0,Viande de Volailles,2017.0,2118.0,514.0,2035.0,1667.0,57009.756,0.079063
2,ALB,ALBANIE,2734.0,Viande de Volailles,2017.0,47.0,38.0,47.0,13.0,2884.169,-0.010270
3,DZA,ALGÉRIE,2734.0,Viande de Volailles,2017.0,277.0,2.0,264.0,275.0,41389.189,0.107140
4,DEU,ALLEMAGNE,2734.0,Viande de Volailles,2017.0,1739.0,842.0,1609.0,1514.0,82658.409,0.020819

In [376]:
df_joint_dispo_population_mapping.nunique()

Country Code                         164
Zone                                 174
Code Produit                           1
Produit                                1
Année                                  1
Disponibilité intérieure             135
Importations - Quantité               84
Nourriture                           130
Production                           125
Population 2017 (en millier)         174
Evolution démographique 2012-2017    174
dtype: int64

In [377]:
valeur_manquante = df_joint_dispo_population_mapping[df_joint_dispo_population_mapping['Country Code'].isna()]

In [378]:
valeur_manquante.head()

,Country Code,Zone,Code Produit,Produit,Année,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Population 2017 (en millier),Evolution démographique 2012-2017
33,NaN,HONG KONG,2734.0,Viande de Volailles,2017.0,280.0,907.0,391.0,24.0,7306.322,0.036821
34,NaN,MACAO,2734.0,Viande de Volailles,2017.0,19.0,23.0,21.0,3.0,622.585,0.103798
36,NaN,"CHINE, TAIWAN PROVINCE DE",2734.0,Viande de Volailles,2017.0,785.0,161.0,785.0,652.0,23674.546,0.014034
39,NaN,RÉPUBLIQUE DU CONGO,2734.0,Viande de Volailles,2017.0,110.0,104.0,110.0,7.0,5110.695,0.133142
41,NaN,CÔTE D'IVOIRE,2734.0,Viande de Volailles,2017.0,65.0,7.0,62.0,58.0,24437.470,0.134137

In [379]:
liste_pays_mapping = df_mapping_en_pays['Zone']

In [380]:
liste_pays_mapping.to_csv('liste_pays_mapping.csv', index=False)

In [381]:


df_joint_dispo_population_mapping = df_joint_dispo_population_mapping[df_joint_dispo_population_mapping['Zone'].isin(liste_pays_mapping)]

In [382]:
valeur_manquante = valeur_manquante['Zone']

In [383]:
valeur_manquante.to_csv('valeur_manquante.csv', index = False)

## Jointure Dispo_Population_Mapping + PIB

In [384]:
df_PIB_copy.head()

  Country Code  PIB/habitant 2017($)  Evolution PIB 2012-2017
0          ABW          28440.051964                 0.132183
1          AFE           1520.212231                -0.107317
2          AFG            525.469771                -0.193344
3          AFW           1574.230560                -0.189113
4          AGO           2437.259712                -0.520793

In [385]:
df_joint_dispo_population_mapping.head()

,Country Code,Zone,Code Produit,Produit,Année,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Population 2017 (en millier),Evolution démographique 2012-2017
0,AFG,AFGHANISTAN,2734.0,Viande de Volailles,2017.0,57.0,29.0,55.0,28.0,36296.113,0.164779
1,ZAF,AFRIQUE DU SUD,2734.0,Viande de Volailles,2017.0,2118.0,514.0,2035.0,1667.0,57009.756,0.079063
2,ALB,ALBANIE,2734.0,Viande de Volailles,2017.0,47.0,38.0,47.0,13.0,2884.169,-0.010270
3,DZA,ALGÉRIE,2734.0,Viande de Volailles,2017.0,277.0,2.0,264.0,275.0,41389.189,0.107140
4,DEU,ALLEMAGNE,2734.0,Viande de Volailles,2017.0,1739.0,842.0,1609.0,1514.0,82658.409,0.020819

In [386]:
df_joint_dispo_population_mapping_pib =  pd.merge(df_joint_dispo_population_mapping,df_PIB_copy, on='Country Code', how = 'left')

In [387]:
df_joint_dispo_population_mapping_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Code                       164 non-null    object
 1   Zone                               164 non-null    object
 2   Code Produit                       160 non-null    float64
 3   Produit                            160 non-null    object
 4   Année                              160 non-null    float64
 5   Disponibilité intérieure           160 non-null    float64
 6   Importations - Quantité            160 non-null    float64
 7   Nourriture                         160 non-null    float64
 8   Production                         158 non-null    float64
 9   Population 2017 (en millier)       164 non-null    float64
 10  Evolution démographique 2012-2017  164 non-null    float64
 11  PIB/habitant 2017($)               158 non-null    float64
 12  Evolution PIB 2012-2017            158 non-null    float64
dtypes: float64(10), object(3)
memory usage: 16.8+ KB

## Nettoyage finale du dataframe

In [388]:
df_joint_dispo_population_mapping_pib = df_joint_dispo_population_mapping_pib[['Country Code','Zone','Disponibilité intérieure','Importations - Quantité','Nourriture','Production','Population 2017 (en millier)', 'Evolution démographique 2012-2017', 'PIB/habitant 2017($)', 'Evolution PIB 2012-2017']]

In [389]:
df_joint_dispo_population_mapping_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country Code                       164 non-null    object
 1   Zone                               164 non-null    object
 2   Disponibilité intérieure           160 non-null    float64
 3   Importations - Quantité            160 non-null    float64
 4   Nourriture                         160 non-null    float64
 5   Production                         158 non-null    float64
 6   Population 2017 (en millier)       164 non-null    float64
 7   Evolution démographique 2012-2017  164 non-null    float64
 8   PIB/habitant 2017($)               158 non-null    float64
 9   Evolution PIB 2012-2017            158 non-null    float64
dtypes: float64(8), object(2)
memory usage: 12.9+ KB

In [390]:
df_joint_dispo_population_mapping_pib.head(5)

,Country Code,Zone,Disponibilité intérieure,Importations - Quantité,Nourriture,Production,Population 2017 (en millier),Evolution démographique 2012-2017,PIB/habitant 2017($),Evolution PIB 2012-2017
0,AFG,AFGHANISTAN,57.0,29.0,55.0,28.0,36296.113,0.164779,525.469771,-0.193344
1,ZAF,AFRIQUE DU SUD,2118.0,514.0,2035.0,1667.0,57009.756,0.079063,6618.335083,-0.180593
2,ALB,ALBANIE,47.0,38.0,47.0,13.0,2884.169,-0.010270,4614.047969,0.092769
3,DZA,ALGÉRIE,277.0,2.0,264.0,275.0,41389.189,0.107140,4554.667540,-0.245122
4,DEU,ALLEMAGNE,1739.0,842.0,1609.0,1514.0,82658.409,0.020819,45526.599958,0.017682

In [391]:
df_joint_dispo_population_mapping_pib.nunique()

Country Code                         164
Zone                                 164
Disponibilité intérieure             128
Importations - Quantité               80
Nourriture                           122
Production                           120
Population 2017 (en millier)         164
Evolution démographique 2012-2017    164
PIB/habitant 2017($)                 158
Evolution PIB 2012-2017              158
dtype: int64

In [392]:
df_joint_dispo_population_mapping_pib = df_joint_dispo_population_mapping_pib[df_joint_dispo_population_mapping_pib['PIB/habitant 2017($)'].notnull()]

In [393]:
df_joint_dispo_population_mapping_pib = df_joint_dispo_population_mapping_pib[df_joint_dispo_population_mapping_pib['Production'].notnull()]

In [394]:
## Exportation du dataframe
df_joint_dispo_population_mapping_pib.to_csv('df_joint_dispo_population_mapping_pib.csv', index=False)

In [395]:
## Population touchée par l'étude
somme_population = df_joint_dispo_population_mapping_pib["Population 2017 (en millier)"].sum()
print(somme_population)

6694860.995

In [396]:
## Vérification des valeurs non nulles dans tout le dataframe
df_joint_dispo_population_mapping_pib.isnull().sum()

Country Code                         0
Zone                                 0
Disponibilité intérieure             0
Importations - Quantité              0
Nourriture                           0
Production                           0
Population 2017 (en millier)         0
Evolution démographique 2012-2017    0
PIB/habitant 2017($)                 0
Evolution PIB 2012-2017              0
dtype: int64